body {
  background-color: #eaeef1 !important;
}

.dropdown-user::after {
  display: none !important;
}

.form-select.user {
  height: 46px;
}

.form-select.user option {
  appearance: none;
  padding: 5px;
}

@media (max-width: 575.98px) {
  .form-select.user {
    width: 60% !important;
  }
}

.store-select {
  width: 25%;
}

@media (max-width: 575.98px) {
  .store-select {
    width: 60% !important;
  }
}

.user-nav {
  gap: 1rem !important;
}

@media (max-width: 575.98px) {
  .user-nav {
    gap: 0.5rem !important;
  }
}

.user-fab {
  right: 5%;
  bottom: 3%;
}

.user-fab > .btn-circle {
  width: 60px;
  height: 60px;
}

.user-fab > .btn-circle > i {
  font-size: 26px !important;
}

.btn-circle {
  width: 56px;
  height: 56px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.btn-circle > i {
  font-size: 22px !important;
}

.btn-circle > span {
  font-size: 22px !important;
  font-weight: 700;
  letter-spacing: 1px;
}

.user-nav-item:hover a.nav-link {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale(1.1);
  border-color: rgb(13 202 240) !important;
}

.user-nav-item:hover a.nav-link > i,
.user-nav-item:hover a.nav-link > span {
  color: rgb(13 202 240) !important;
}

a.nav-link.show {
  border-color: rgb(13 202 240) !important;
  transform: scale(1.1);
}

a.nav-link.show > i,
a.nav-link.show > span {
  color: rgb(13 202 240) !important;
}

.dropdown-menu[data-bs-popper] {
  top: 110% !important;
}

.integ-img {
  width: 52px;
  height: 52px;
}

.modal-open .modal-backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

.max-lines-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.max-lines-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.letter-spacing {
  letter-spacing: .5px;
}

.product-image {
  height: 170px !important;
  object-fit: cover;
}

.product-description {
  font-size: 10px !important;
}

.notif {
  height: 26px;
  width: 26px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  left: 90% !important;
  top: 5% !important;
}

.status {
  height: 16px;
  width: 16px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  left: 85% !important;
  top: 10% !important;
}

.product-card {
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.custom-badge {
  height: 38px;
  padding-top: 0 !important;
}

.custom-dot {
  font-size: 24px;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}